<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
detail
<br>
order
<input type="text" id="detail_board_order" readonly />
title
<input type="text" id="detail_board_title" />
content
<input type="text" id="detail_board_content" />
author
<input type="text" id="detail_board_author" />

<button onclick="update_board()">
  글 수정
</button>

<script>

  //url에서 id값 추출해오기
  let temp_url = window.location.href;
  alert(temp_url);
  let split_temp_url = temp_url.split('/');
  let final_id = split_temp_url[split_temp_url.length-1];
  alert(final_id);
  let split_q = final_id.split("?");
  if(split_q.length > 0){
    final_id = split_q[0];
  }
  // A $( document ).ready() block.
  $( document ).ready(function() {
    console.log( "ready!" );
    detail_board();
  });


  function detail_board(){
    $.ajax({
      url: "/api/board/detail",
      type: "GET",
      contentType : 'application/json; charset=utf-8',
      data: {
        //order : $("#detail_board_order").val()
        id : final_id
      },
      cache: false,
      success: (obj_data, status, xhr)=>{
        // alert(JSON.stringify(obj_data));
        // alert(obj_data["resultCode"]);
        // alert(obj_data["detail_board"]["order"]);
        // alert(obj_data["detail_board"]["title"]);
        // alert(obj_data["detail_board"]["content"]);
        // alert(obj_data["detail_board"]["author"]);
        //위 아래 둘 다 방법으로 사용할 수 있음
        //$("#detail_board_order").val(obj_data.order);
        $("#detail_board_id").val(obj_data["id"]);
        $("#detail_board_title").val(obj_data["title"]);
        $("#detail_board_content").val(obj_data["content"]);
        $("#detail_board_author").val(obj_data["author"]);

      },
      error: (obj_data, status, xhr)=>{
        alert("error!!");
        alert(JSON.stringify(obj_data));
      }
    });
  }

  function update_board(){
    $.ajax({
      url: "/api/board/update",
      type: "GET",
      contentType : 'application/json; charset=utf-8',
      data: {
        //order : $("#detail_board_order").val()
        id : final_id
        ,title : $("#detail_board_title").val()
        ,content : $("#detail_board_content").val()
        ,author : $("#detail_board_author").val()
      },
      cache: false,
      success: (obj_data, status, xhr)=>{
        alert(JSON.stringify(obj_data));
      },
      error: (obj_data, status, xhr)=>{
        alert("error!!");
        alert(JSON.stringify(obj_data));
      }
    });
  }
  function delete_board(){
    $.ajax({
      url: "/api/board/delete",
      type: "GET",
      contentType : 'application/json; charset=utf-8',
      data: {
        id : final_id
      },
      cache: false,
      success: (obj_data, status, xhr)=>{
        alert(JSON.stringify(obj_data));
      },
      error: (obj_data, status, xhr)=>{
        alert("error!!");
        alert(JSON.stringify(obj_data));
      }
    });
  }

</script>


</body>
</html>