<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
detail
<br>
id
<input type="text" id="detail_user_id" readonly />
num
<input type="text" id="detail_user_num" />
name
<input type="text" id="detail_user_name" readonly/>
age
<input type="text" id="detail_user_age" />

<button onclick="update_user()">
  유저 수정
</button>

<script>

  //url에서 id값 추출해오기
  let temp_url = window.location.href;
  alert(temp_url);
  let split_temp_url = temp_url.split('/');
  let final_id = split_temp_url[split_temp_url.length-1];
  alert(final_id);
  let split_q = final_id.split("?");
  if(split_q.length > 0){
    final_id = split_q[0];
  }
  // A $( document ).ready() block.
  $( document ).ready(function() {
    console.log( "ready!" );
    detail_user();
  });


  function detail_user(){
    $.ajax({
      url: "/api/user/detail",
      type: "GET",
      contentType : 'application/json; charset=utf-8',
      data: {
        //order : $("#detail_board_order").val()
        id : final_id
      },
      cache: false,
      success: (obj_data, status, xhr)=>{
        // alert(JSON.stringify(obj_data));
        // alert(obj_data["resultCode"]);
        // alert(obj_data["detail_board"]["order"]);
        // alert(obj_data["detail_board"]["title"]);
        // alert(obj_data["detail_board"]["content"]);
        // alert(obj_data["detail_board"]["author"]);
        //위 아래 둘 다 방법으로 사용할 수 있음
        //$("#detail_board_order").val(obj_data.order);
        $("#detail_user_id").val(obj_data["id"]);
        $("#detail_user_num").val(obj_data["num"]);
        $("#detail_user_name").val(obj_data["name"]);
        $("#detail_user_age").val(obj_data["age"]);

      },
      error: (obj_data, status, xhr)=>{
        alert("error!!");
        alert(JSON.stringify(obj_data));
      }
    });
  }

  function update_user(){
    $.ajax({
      url: "/api/user/update",
      type: "GET",
      contentType : 'application/json; charset=utf-8',
      data: {
        //order : $("#detail_board_order").val()
        id : final_id
        ,num : $("#detail_user_num").val()
        ,name : $("#detail_user_name").val()
        ,age : $("#detail_user_age").val()
      },
      cache: false,
      success: (obj_data, status, xhr)=>{
        alert(JSON.stringify(obj_data));
      },
      error: (obj_data, status, xhr)=>{
        alert("error!!");
        alert(JSON.stringify(obj_data));
      }
    });
  }
  function delete_user(){
    $.ajax({
      url: "/api/user/delete",
      type: "GET",
      contentType : 'application/json; charset=utf-8',
      data: {
        id : final_id
      },
      cache: false,
      success: (obj_data, status, xhr)=>{
        alert(JSON.stringify(obj_data));
      },
      error: (obj_data, status, xhr)=>{
        alert("error!!");
        alert(JSON.stringify(obj_data));
      }
    });
  }

</script>


</body>
</html>